@model _5101_Assignment3.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>@Model.FirstName @Model.LastName</h2>
<p><b>Employee Number:</b> @Model.EmployeeNumber</p>
<p><b>Hire Date:</b> @Model.HireDate</p>
<p><b>Salary:</b> @Model.Salary</p>
