@model _5101_Assignment3.Models.Class
@{
    ViewBag.Title = "Show";
}

<h2>@Model.Code -  @Model.Name</h2>
<p><b>Start Date:</b> @Model.StartDate</p>
<p><b>Finish Date:</b> @Model.FinishDate</p>
<p><b>Teacher ID:</b> @Model.TeacherID</p>

